<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moviebomber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Optional permission for reliable local dispatching on non-Google Play devices -->
    <!-- add after using google analytics -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_chinese"
        android:theme="@style/AppTheme"
        tools:replace="icon, label" >
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
                   android:resource="@xml/ga_tracker" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name_chinese"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MovieDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moviebomber.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PhotoListActivity"
            android:label="@string/title_activity_photo_list"
            android:parentActivityName=".ui.activity.MovieDetailActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moviebomber.ui.activity.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".ui.activity.TrailerActivity"
            android:label="@string/title_activity_trailer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activity.MovieDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moviebomber.ui.activity.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".ui.activity.CommentActivity"
            android:label="@string/title_activity_comment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activity.MovieDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moviebomber.ui.activity.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:label="@string/title_activity_web_view">
        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="9c5a16961ca7b5d55a40ca69f5dd7ed5c28df03d" />

        <!-- add for google analytics -->
        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
                 android:enabled="true"
                 android:exported="false"/>

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
    </application>

</manifest>
